<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

	<!--alias开始-->

	<!--预订对象模块-->
	<alias alias="IBookObjectRepository" type="ITS.CompanyBookSystem.DataAccess.Interface.IBookObjectRepository, ITS.CompanyBookSystem.DataAccess.Interface" />
	<alias alias="IBookObjectLogic" type="ITS.CompanyBookSystem.Business.Interface.IBookObjectLogic, ITS.CompanyBookSystem.Business.Interface" />

	<alias alias="BookObjectRepository" type="ITS.CompanyBookSystem.DataAccess.Implement.BookObjectRepository, ITS.CompanyBookSystem.DataAccess.Implement" />
	<alias alias="BookObjectLogic" type="ITS.CompanyBookSystem.Business.Implement.BookObjectLogic, ITS.CompanyBookSystem.Business.Implement" />

	<!--预订对象样式模块-->
	<alias alias="IObjectStyleRepository" type="ITS.CompanyBookSystem.DataAccess.Interface.IObjectStyleRepository, ITS.CompanyBookSystem.DataAccess.Interface" />
	<alias alias="IObjectStyleLogic" type="ITS.CompanyBookSystem.Business.Interface.IObjectStyleLogic, ITS.CompanyBookSystem.Business.Interface" />

	<alias alias="ObjectStyleRepository" type="ITS.CompanyBookSystem.DataAccess.Implement.ObjectStyleRepository, ITS.CompanyBookSystem.DataAccess.Implement" />
	<alias alias="ObjectStyleLogic" type="ITS.CompanyBookSystem.Business.Implement.ObjectStyleLogic, ITS.CompanyBookSystem.Business.Implement" />

	<!--预订对象类型模块-->
	<alias alias="IBookObjectTypeRepository" type="ITS.CompanyBookSystem.DataAccess.Interface.IBookObjectTypeRepository, ITS.CompanyBookSystem.DataAccess.Interface" />
	<alias alias="IBookObjectTypeLogic" type="ITS.CompanyBookSystem.Business.Interface.IBookObjectTypeLogic, ITS.CompanyBookSystem.Business.Interface" />

	<alias alias="BookObjectTypeRepository" type="ITS.CompanyBookSystem.DataAccess.Implement.BookObjectTypeRepository, ITS.CompanyBookSystem.DataAccess.Implement" />
	<alias alias="BookObjectTypeLogic" type="ITS.CompanyBookSystem.Business.Implement.BookObjectTypeLogic, 
         ITS.CompanyBookSystem.Business.Implement" />

	<!--预订记录模块-->
	<alias alias="IBookRecordsRepository" type="ITS.CompanyBookSystem.DataAccess.Interface.IBookRecordsRepository, ITS.CompanyBookSystem.DataAccess.Interface" />
	<alias alias="IBookRecordsLogic" type="ITS.CompanyBookSystem.Business.Interface.IBookRecordsLogic, ITS.CompanyBookSystem.Business.Interface" />

	<alias alias="BookRecordsRepository" type="ITS.CompanyBookSystem.DataAccess.Implement.BookRecordsRepository, ITS.CompanyBookSystem.DataAccess.Implement" />
	<alias alias="BookRecordsLogic" type="ITS.CompanyBookSystem.Business.Implement.BookRecordsLogic, 
         ITS.CompanyBookSystem.Business.Implement" />

	<!--部门模块-->
	<alias alias="IDepartmentsRepository" type="ITS.CompanyBookSystem.DataAccess.Interface.IDepartmentsRepository, ITS.CompanyBookSystem.DataAccess.Interface" />
	<alias alias="IDepartmentsLogic" type="ITS.CompanyBookSystem.Business.Interface.IDepartmentsLogic, ITS.CompanyBookSystem.Business.Interface" />

	<alias alias="DepartmentsRepository" type="ITS.CompanyBookSystem.DataAccess.Implement.DepartmentsRepository, ITS.CompanyBookSystem.DataAccess.Implement" />
	<alias alias="DepartmentsLogic" type="ITS.CompanyBookSystem.Business.Implement.DepartmentsLogic, 
         ITS.CompanyBookSystem.Business.Implement" />

	<!--后台用户模块-->
	<alias alias="IUsersRepository" type="ITS.CompanyBookSystem.DataAccess.Interface.IUsersRepository, ITS.CompanyBookSystem.DataAccess.Interface" />
	<alias alias="IUsersLogic" type="ITS.CompanyBookSystem.Business.Interface.IUsersLogic, ITS.CompanyBookSystem.Business.Interface" />

	<alias alias="UsersRepository" type="ITS.CompanyBookSystem.DataAccess.Implement.UsersRepository, ITS.CompanyBookSystem.DataAccess.Implement" />
	<alias alias="UsersLogic" type="ITS.CompanyBookSystem.Business.Implement.UsersLogic, 
         ITS.CompanyBookSystem.Business.Implement" />

	<!--预约人员模块-->
	<alias alias="IPersonsRepository" type="ITS.CompanyBookSystem.DataAccess.Interface.IPersonsRepository, ITS.CompanyBookSystem.DataAccess.Interface" />
	<alias alias="IPersonsLogic" type="ITS.CompanyBookSystem.Business.Interface.IPersonsLogic, ITS.CompanyBookSystem.Business.Interface" />

	<alias alias="PersonsRepository" type="ITS.CompanyBookSystem.DataAccess.Implement.PersonsRepository, ITS.CompanyBookSystem.DataAccess.Implement" />
	<alias alias="PersonsLogic" type="ITS.CompanyBookSystem.Business.Implement.PersonsLogic, 
         ITS.CompanyBookSystem.Business.Implement" />

	<!--预约事件模块-->
	<alias alias="IEventsRepository" type="ITS.CompanyBookSystem.DataAccess.Interface.IEventsRepository, ITS.CompanyBookSystem.DataAccess.Interface" />
	<alias alias="IEventsLogic" type="ITS.CompanyBookSystem.Business.Interface.IEventsLogic, ITS.CompanyBookSystem.Business.Interface" />

	<alias alias="EventsRepository" type="ITS.CompanyBookSystem.DataAccess.Implement.EventsRepository, ITS.CompanyBookSystem.DataAccess.Implement" />
	<alias alias="EventsLogic" type="ITS.CompanyBookSystem.Business.Implement.EventsLogic, 
         ITS.CompanyBookSystem.Business.Implement" />


	<!--alias结束-->

	<!--*******************************************************************************************
 ***********************************************************************************************
 ***********************************************************************************************
 ***********************************************************************************************-->

	<!--container开始-->

	<container>
		<!--预订对象模块-->
		<register type="IBookObjectRepository" mapTo="BookObjectRepository"/>
		<register type="IBookObjectLogic" mapTo="BookObjectLogic">
			<constructor>
				<param name="repository" type="IBookObjectRepository" />
			</constructor>
		</register>

		<!--预订对象样式模块-->
		<register type="IObjectStyleRepository" mapTo="ObjectStyleRepository"/>
		<register type="IObjectStyleLogic" mapTo="ObjectStyleLogic">
			<constructor>
				<param name="repository" type="IObjectStyleRepository" />
			</constructor>
		</register>

		<!--预订对象类型模块-->
		<register type="IBookObjectTypeRepository" mapTo="BookObjectTypeRepository"/>
		<register type="IBookObjectTypeLogic" mapTo="BookObjectTypeLogic">
			<constructor>
				<param name="repository" type="IBookObjectTypeRepository" />
			</constructor>
		</register>

		<!--预订记录模块-->
		<register type="IBookRecordsRepository" mapTo="BookRecordsRepository"/>
		<register type="IBookRecordsLogic" mapTo="BookRecordsLogic">
			<constructor>
				<param name="repository" type="IBookRecordsRepository" />
			</constructor>
		</register>

		<!--部门模块-->
		<register type="IDepartmentsRepository" mapTo="DepartmentsRepository"/>
		<register type="IDepartmentsLogic" mapTo="DepartmentsLogic">
			<constructor>
				<param name="repository" type="IDepartmentsRepository" />
			</constructor>
		</register>

		<!--后台用户模块-->
		<register type="IUsersRepository" mapTo="UsersRepository"/>
		<register type="IUsersLogic" mapTo="UsersLogic">
			<constructor>
				<param name="repository" type="IUsersRepository" />
			</constructor>
		</register>

		<!--预约人员模块-->
		<register type="IPersonsRepository" mapTo="PersonsRepository"/>
		<register type="IPersonsLogic" mapTo="PersonsLogic">
			<constructor>
				<param name="repository" type="IPersonsRepository" />
			</constructor>
		</register>

		<!--预约事件模块-->
		<register type="IEventsRepository" mapTo="EventsRepository"/>
		<register type="IEventsLogic" mapTo="EventsLogic">
			<constructor>
				<param name="repository" type="IEventsRepository" />
			</constructor>
		</register>

	</container>

	<!--container结束-->

</unity>
