<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CompanyBookSystemEntities" connectionString="metadata=res://*/CompanyBookSystemModel.csdl|res://*/CompanyBookSystemModel.ssdl|res://*/CompanyBookSystemModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=CompanyBookSystem;user id=sa;password=123456;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>