

/*common*/
body
{
    /*background-color: #d6e8ff;*/
    margin: 0;
    overflow: hidden;
    font-family: helvetica,tahoma,verdana,sans-serif;
    font: 12px/1.5 tahoma,arial,ו,sans-serif;
    scrollbar-face-color: white;
    scrollbar-highlight-color: #d6e8ff;
    scrollbar-shadow-color: #d6e8ff;
    scrollbar-3dlight-color: #6699cc;
    scrollbar-arrow-color: #567db1;
    scrollbar-darkshadow-color: #6699cc;
    scrollbar-base-color: #d6e8ff;
}
*
{
    font-size: 12px;
}

h2
{
    font-size: 18px;
    color: #333;
    font-weight: bold;
    margin: 0;
    margin-bottom: 15px;
}
.info
{
    background: #FFFEE6;
    color: #8F5700;
    padding: 12px;
}
.tip
{
    width: 24px;
    height: 16px;
    float: left;
}

*
{
    margin: 0px;
    padding: 0px;
}
a
{
    color: #000000;
    text-decoration: none;
    border: none;
}
li
{
    list-style: none;
}

.menubar
{
    position: relative;
}
.menubar .mnuBar
{
    color: #000000;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 44px;
    width: 100%; /*background: url(images/form_toolbar_back.gif) repeat-x;*/
    height: 28px;
    background: url('images/panel_title.png') repeat-x;
}

.menubar .mnuBar ul .li2
{
    width: 70px;
    float: left;
}
.menubar .mnuBar ul .li4
{
    width: 100px;
    float: left;
}
.menubar .mnuBar ul .li5
{
    width: 110px;
    float: left;
}
.menubar .mnuBar ul .li6
{
    width: 120px;
    float: left;
}
.menubar .mnuBar li a
{
    background: url(images/bar_line.gif) no-repeat center right;
    display: block;
    float: left;
    outline: none;
    margin: 2px 2px;
}
.menubar .mnuBar li a span
{
    display: inline-block;
    margin-top: 4px;
    height: 16px;
    line-height: 16px;
    padding: 2px 10px 4px 20px; /*     display: block;     padding: 3px 10px 0 30px;*/
}
.menubar .formtitle
{
    padding-left: 10px;
}
.menubar .entitytype
{
    font-weight: bold;
    font-size: 12px;
    padding-top: 2px;
    white-space: nowrap;
}
.menubar .navtitle
{
    font-weight: bold;
    font-size: 18px;
    padding-top: 1px;
    color: #6699CC;
}

.content
{
    margin: 10px;
    padding: 10px 15px;
    border: 1px solid #898C95; /*background-color:  #EAF3FF;*/
    position: absolute;
    bottom: 23px;
    top: 90px;
    right: 0px;
    left: 0px;
    overflow: auto;
    white-space: normal;
    word-wrap: break-word;
}
.content dl
{
    display: block;
    height: auto;
}
.content dd
{
    border-bottom: 1px solid #96B3DD;
    margin: 5px 0;
    font-weight: bold;
    clear: both;
}
.content dt
{
    width: 49%;
    float: left;
    padding: 3px 0 7px 0;
    white-space: nowrap;
    height: 24px;
}
.content dt.full
{
    width: 100%;
    height: auto;
}
.content label
{
    cursor: hand;
    width: 90px;
    white-space: nowrap;
    display: inline-block;
}
.content label.txt
{
    width: auto;
    display: inline;
    margin-right: 5px;
}
.content label.error
{
    width: auto;
    display: inline;
    margin: 5px;
    padding: 2px 2px 2px 15px;
    color: #cd0a0a;
    background: url(images/alert.png) 0 4px no-repeat;
}
.content span.req
{
    font-weight: bold;
    color: #ff0000;
}
.content .space
{
    margin-left: 3px;
}
.content .readonly
{
    background: #eef;
    padding: 1px 1px 2px;
    vertical-align: middle;
    width: 180px;
    border: 1px solid #6699CC;
    display: inline-block;
}
.content .radio label
{
    width: auto;
    display: inline;
    margin-right: 15px;
}
.list
{
    background: #fff;
    width: 100%;
    text-align: center;
    border: 1px solid #CCCCCC;
    border-right: none;
}
.list td
{
    border-bottom: 1px solid #999999;
    height: 24px;
    white-space: nowrap;
    background: url(images/bar_line.gif) no-repeat center right;
}
.list thead
{
    background: #f0f0f0;
}

.statusBar
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    color: #000;
    background: #80ABD4 url(images/statusbar_back.gif) repeat-x;
    padding-left: 5px;
    height: 23px;
    line-height: 23px;
    border-bottom: 1px solid #485673;
    font-weight: bold;
}
#search-wrapper
{
    padding: 10px;
    border: 1px solid #ccc; /* border:1px solid #B2D0F6;blue*/
}

. layouttop
{
    width: 350px;
    position: absolute;
    top: 0px;
    right: 0px;
}
